<!-- View -->
<div id="view" class="row-fluid">
    <!-- Settings Button -->
    <div class="btn" ng-click="toggleSettings()" id="settings">
        <i class="fa fa-cog"></i>&nbsp;Settings
    </div>
    <div gridster="gridsterOptions">
        <ul>
            <li gridster-item="account" ng-repeat="account in tweetAccounts">
                <div class="panel panel-primary">
                    <div class="panel-heading">@{{account.name}}</div>
                </div>
                <div class="panel-body" ng-style="{'background-color': backGroundColor}" resize-height="120">
                    <div ng-repeat="t in account.tweets">
                        <div class="tweet">
                            <!-- Create Date -->
                            <span ng-bind="t.createdAt | date: 'medium'"></span>
                            <!-- Tweet Link -->
                        <span class="cursorPointer">
                            <a ng-href="https://twitter.com/{{t.user.screenName}}/status/{{t.id}}" target="_blank">
                                <i class="fa fa-external-link"></i>
                            </a>
                        </span>
                            <!-- Name -->
                        <span ng-if="t.retweetedStatus || t.userMentionEntities.length > 0" class="floatRight">
                            <i class="fa fa-user"></i>&nbsp;{{t.user.screenName}}
                        </span>
                            <!-- Tweet Content -->
                            <p>{{t.text}}</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
