<div id="home" class="row-fluid">
    <!-- AppDirect -->
    <div id="appdirect">
        <div class="panel panel-primary">
            <div class="panel-heading">@AppDirect</div>
            <div class="panel-body">
                <div ng-repeat="a in appdirect">
                    <div class="tweet">
                        <!-- Create Date -->
                        <span ng-bind="a.createdAt | date: 'medium'"></span>
                        <!-- Tweet Link -->
                        <span class="cursorPointer">
                            <a ng-href="https://twitter.com/{{a.user.screenName}}/status/{{a.id}}" target="_blank">
                                <i class="fa fa-external-link"></i>
                            </a>
                        </span>
                        <!-- Name -->
                        <span ng-if="a.retweetedStatus || a.userMentionEntities.length > 0" class="floatRight">
                            <i class="fa fa-user"></i>&nbsp;{{a.user.screenName}}
                        </span>
                        <!-- Tweet Content -->
                        <p>{{a.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- laughingsquid -->
    <div id="laughingsquid">
        <div class="panel panel-primary">
            <div class="panel-heading">@laughingsquid</div>
            <div class="panel-body">
                <div ng-repeat="l in laughingsquid">
                    <div class="tweet">
                        <!-- Create Date -->
                        <span ng-bind="l.createdAt | date: 'medium'"></span>
                        <!-- Tweet Link -->
                        <span class="cursorPointer">
                            <a ng-href="https://twitter.com/{{l.user.screenName}}/status/{{l.id}}" target="_blank">
                                <i class="fa fa-external-link"></i>
                            </a>
                        </span>
                        <!-- Name -->
                        <span ng-if="l.retweetedStatus || l.userMentionEntities.length > 0" class="floatRight">
                            <i class="fa fa-user"></i>&nbsp;{{l.user.screenName}}
                        </span>
                        <!-- Tweet Content -->
                        <p>{{l.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- techcrunch -->
    <div id="techcrunch">
        <div class="panel panel-primary">
            <div class="panel-heading">@techcrunch</div>
            <div class="panel-body">
                <div ng-repeat="t in techcrunch">
                    <div class="tweet">
                        <!-- Create Date -->
                        <span ng-bind="t.createdAt | date: 'medium'"></span>
                        <!-- Tweet Link -->
                        <span class="cursorPointer">
                            <a ng-href="https://twitter.com/{{t.user.screenName}}/status/{{t.id}}" target="_blank">
                                <i class="fa fa-external-link"></i>
                            </a>
                        </span>
                        <!-- Name -->
                        <span ng-if="t.retweetedStatus || t.userMentionEntities.length > 0" class="floatRight">
                            <i class="fa fa-user"></i>&nbsp;{{t.user.screenName}}
                        </span>
                        <!-- Tweet Content -->
                        <p>{{t.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
