<div id="home" class="section group">
    <div ng-repeat="account in tweetAccounts">
        <div id="{{account.name}}" class="col span_1_of_3 marginRight">
            <div class="panel panel-primary">
                <div class="panel-heading">@{{account.name}}</div>
                <div class="panel-body" resize-height="100" block-ui="homeBlockUI">
                    <!-- If there are No Tweets to Display-->
                    <div ng-if="account.tweets.length == 0">
                        No Tweets to display !!!
                    </div>
                    <!-- If there are Tweets-->
                    <div ng-repeat="t in account.tweets" ng-if="account.tweets.length > 0">
                        <div class="tweet">
                            <!-- Create Date -->
                            <span ng-bind="t.createdAt | date: 'medium'"></span>
                            <!-- Tweet Link -->
                        <span class="cursorPointer">
                            <a ng-href="https://twitter.com/{{t.user.screenName}}/status/{{t.id}}" target="_blank">
                                <i class="fa fa-external-link"></i>
                            </a>
                        </span>
                            <!-- Name -->
                        <span ng-if="t.retweetedStatus || t.userMentionEntities.length > 0" class="floatRight">
                            <i class="fa fa-user"></i>&nbsp;{{t.user.screenName}}
                        </span>
                            <!-- Tweet Content -->
                            <p>{{t.text}}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>