<div id="home" class="row-fluid">
    <!-- AppDirect -->
    <div id="appdirect">
        <div class="panel panel-primary">
            <div class="panel-heading">@AppDirect</div>
            <div class="panel-body">
                <div ng-repeat="a in appdirect">
                    <div class="tweet">
                        <!-- Create Date -->
                        <span ng-bind="a.created_at | date:'medium'"></span>
                        <!-- Tweet Link -->
                        <span class="cursorPointer">
                            <a ng-href="https://twitter.com/statuses/{{a.id_str}}" target="_blank">
                                <i class="fa fa-external-link"></i>
                            </a>
                        </span>
                        <!-- Name -->
                        <span ng-if="a.retweeted_status || a.entities.user_mentions.length > 0" class="floatRight">
                            <i class="fa fa-user"></i>&nbsp;{{a.user.name}}
                        </span>
                        <!-- Tweet Content -->
                        <p>{{a.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- laughingsquid -->
    <div id="laughingsquid">
        <div class="panel panel-primary">
            <div class="panel-heading">@laughingsquid</div>
            <div class="panel-body">
                <div ng-repeat="a in appdirect">
                    <div class="tweet">
                        <!-- Create Date -->
                        <span ng-bind="a.created_at | date:'medium'"></span>
                        <!-- Tweet Link -->
                        <span class="cursorPointer">
                            <a ng-href="https://twitter.com/statuses/{{a.id_str}}" target="_blank">
                                <i class="fa fa-external-link"></i>
                            </a>
                        </span>
                        <!-- Name -->
                        <span ng-if="a.retweeted_status || a.entities.user_mentions.length > 0" class="floatRight">
                            <i class="fa fa-user"></i>&nbsp;{{a.retweeted_status.user.name}}
                        </span>
                        <!-- Tweet Content -->
                        <p>{{a.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- techcrunch -->
    <div id="techcrunch">
        <div class="panel panel-primary">
            <div class="panel-heading">@techcrunch</div>
            <div class="panel-body">
                <div ng-repeat="a in appdirect">
                    <div class="tweet">
                        <!-- Create Date -->
                        <span ng-bind="a.created_at | date:'medium'"></span>
                        <!-- Tweet Link -->
                        <span class="cursorPointer">
                            <a ng-href="https://twitter.com/statuses/{{a.id_str}}" target="_blank">
                                <i class="fa fa-external-link"></i>
                            </a>
                        </span>
                        <!-- Name -->
                        <span ng-if="a.retweeted_status || a.entities.user_mentions.length > 0" class="floatRight">
                            <i class="fa fa-user"></i>&nbsp;{{a.retweeted_status.user.name}}
                        </span>
                        <!-- Tweet Content -->
                        <p>{{a.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
